.hero
    overflow: hidden
    +tablet
        &:hover
            padding-bottom: 15vh
    .navbar-item
        position: relative
        padding-left: 1em
        &:not(:first-child)::before
            position: absolute
            left: 0.4rem
            content: '×'
        +tablet
            &::after
                display: none
                position: absolute
                left: 0
                bottom: -35vh
                font-size: 35vh
                content: attr(title)
            &:hover
                &::after
                    display: block

.content
    h1
        $gradient-top-left: darken(saturate(adjust-hue($primary, -10deg), 10%),20%)
        $gradient-bottom-right: lighten(saturate(adjust-hue($primary, 10deg), 5%), 10%)
        background-image: linear-gradient(141deg, $gradient-top-left 0%, $primary 71%, $gradient-bottom-right 100%)
        -webkit-background-clip: text
        color: transparent
        font-size: 3em
        display: inline-block
    h2
        position: relative
        padding-left: 1rem
        &::before
            position: absolute
            left: 0
            content: '×'
