// Animations ------------------------------------------------------------------
@keyframes pulse
  0%
    opacity: 0%
  30%
    opacity: 0%
  50%
    opacity: 100%
  70%
    opacity: 0%
  100%
    opacity: 0%

// Semantice elements ----------------------------------------------------------
blockquote
  img
    margin: 1rem 0 0 10%

figure
  font-size: 1rem
  color: rgba(0,0,0,0.6)
  position: relative
  margin: 0
  +desktop
    margin: 1em 2em
    display: flex
    justify-content: center
  svg
    position: relative
    top: 0px

footer
  margin: 6rem 0 0
  padding: 3rem 0
  contain: layout paint
  $odd-stripe: lighten($primary, 15)
  background: linear-gradient(135deg, $odd-stripe 25%, transparent 25%) -50px 0, linear-gradient(225deg, $odd-stripe 25%, transparent 25%) -50px 0, linear-gradient(315deg, $odd-stripe 25%, transparent 25%), linear-gradient(45deg, $odd-stripe 25%, transparent 25%)
  background-size: 100px 100px
  background-color: $white
  p
    margin: 0 0 0.1rem 0
  h2
    font-size: 0.9rem
    margin: 0 0 0.5rem 0

img
  height: auto
  max-width: 80%
  position: relative
  &.text-image
    height: 1.2em
    vertical-align: middle

hr
  clear: both
  border: 0
  border-top: 1px solid $grey-light

main
  min-height: calc(100vh - 21.7rem)

header
  contain: layout paint
  h1
    margin: 1rem 2rem 0 0
    display: inline-block
    font-size: 2rem
    a
      text-decoration: none
    @media (max-width: $linewidth)
      display: block
  > a
    padding-right: 1rem
    padding-bottom: 1rem
    display: inline-block

nav
  background: $white
  line-height: 2rem
  z-index: 2
  li
    display: inline
    margin-right: 2rem
  +desktop
    position: fixed
    right: -18rem
    width: 23rem
    &:hover
      right: 0rem
    li
      display: list-item
  ul
    list-style: none

// Component classes -----------------------------------------------------------
.avatar
  float: right
  margin: 1em 0 2em 2em
  background-image: url("/img/me.jpg")
  background-size: contain
  width: 256px
  height: 256px
  &:after
    content: ''
    width: 100%
    height: 100%
    display: block
    background-image: url("/img/me_deep.jpg")
    background-size: contain
    animation: pulse 5s ease infinite

.box
  background: $white
  box-shadow: 0 2px 3px rgba($black, 0.1), 0 0 0 1px rgba($black, 0.1)
  border-radius: $radius
  padding: .5em 1em
  &.center
    padding: .5em 1em

.card
  box-shadow: 0 2px 3px rgba(10,10,10,0.1),0 0 0 1px rgba(10,10,10,0.1)
  max-height: 450px
  position: relative
  overflow-y: hidden
  img
    width: 100%
    max-width: 100%
    position: relative
    top: 0em
    z-index: 1
    &:hover
      filter: sepia(0.4)
  > div
    z-index: 2
    position: relative
    padding: 1em 1em 1px
    background: $white
  p
    margin-top: 0.2rem

.fullwidth
  padding: 0 $gap

.center
  width: auto
  padding: 0 $gap
  +desktop
    padding: 0
    margin: 0 auto
    max-width: $linewidth - 2 * $gap

.autogrid
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr))
  grid-gap: 1rem

.listing
  border-left: 3px solid $primary
  color: $black
  display: block
  contain: layout paint
  padding-left: 1em
  font-size: 0.9rem
  margin-bottom: 1em
  +desktop
    padding-left: 3em
  span
    display: block
    text-transform: lowercase
  h4
    display: inline
    margin-top: 0
  date
    float: right
    -webkit-text-fill-color: $black

.references
  padding-left: 1em
  font-size: 0.9rem
  line-height: 1.5rem
  li
    margin-bottom: 0.7rem

.tags
  &:before
    content: "Topics:"
    display: inline
    padding-right: 0.5em
    font-style: italic
  span
    background: $primary
    color: $white
    white-space: nowrap
    font-size: 1.1rem
    border-radius: 0.3em
    margin-right: 0.4em
    padding: 0.14rem 0.4rem 0.1rem

.map
    display: flex
    height: 97vh
    width: 100vw
    position: relative
    left: 50%
    right: 50%
    margin-left: -50vw
    margin-right: -50vw

.motion_still
  // max-width: 100%
  // margin: 0 auto
  margin: 0
  padding: 0
  display: inline-block
  width: 24%
  &::-webkit-media-controls
    display:none !important

video
  margin: 1em auto 2em
  display: block
  max-width: 100%