@charset 'utf-8'

// Font variables --------------------------------------------------------------
@font-face
  font-family: 'FiraSans'
  src: url('../FiraSans-Regular.woff2') format(woff2)
  font-style: normal
  font-weight: normal
@font-face
  font-family: 'FiraSans'
  src: url('../FiraSans-Italic.woff2') format(woff2)
  font-style: italic
@font-face
  font-family: 'FiraSans'
  src: url('../FiraSans-SemiBold.woff2') format(woff2)
  font-style: normal
  font-weight: bold
@font-face
  font-family: 'FantasqueSansMono'
  src: url('../FantasqueSansMono-Regular.woff2') format(woff2)
$font: 'FiraSans', sans-serif
$font-code: 'FantasqueSansMono', monospace

@font-face
  font-family: 'icons'
  src: url('../icons.woff2') format('woff2')
  font-weight: normal
  font-style: normal

// Layout variables ------------------------------------------------------------

$linewidth: 769px
$radius: 2px
$gap: 20px

// Color variables -------------------------------------------------------------
$primary:      hsl(100, 27%, 50%)
$black:        hsl(0, 0%, 20%)
$grey-dark:    hsl(0, 0%, 29%)
$grey:         hsl(0, 0%, 48%)
$grey-light:   hsl(0, 0%, 71%)
$white:        hsl(0, 0%, 97%)

// Mixins ----------------------------------------------------------------------
=desktop
  @media screen and (min-width: $linewidth)
    @content

// Global setups / reset -------------------------------------------------------
*
  transition: 200ms

html
  color: $black
  background: $white

body
  font-family: $font
  font-size: 1rem
  line-height: 1.5
  hyphens: auto
  margin: 0
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

// Imports ---------------------------------------------------------------------
@import 'text'
@import 'blocks'
@import 'highlight'
