{{ range $.Site.Data.motionstills }}
<h2>{{ .year }}</h2>
{{ range .stills }}
<video class="lazy motion_still" preload="none" loop onmouseenter="this.play()" onmouseleave="this.pause()" data-poster="{{$.Site.Params.motionstills}}{{ . }}.jpg" data-src="{{$.Site.Params.motionstills}}{{ . }}.webm">
    <source data-src="{{$.Site.Params.motionstills}}{{ . }}.webm" type="video/webm">
    <source data-src="{{$.Site.Params.motionstills}}{{ . }}.mp4" type="video/mp4">
</video>
{{ end }}
<h2>{{ .year }}</h2>
{{ end }}