<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#a9384a">
    <meta name="referrer" content="no-referrer">

    <link rel="stylesheet" href="{{ROOT}}{{CSS_FILE}}" />
    <link rel="shortcut icon" type="image/png" href="{{ROOT}}/icon.png"/>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

    <title>{{TITLE}} | morris-frank.dev</title>
</head>

<body>
    <nav class="center">
        <h1>
            <a class="no-decorate" href="{{ROOT}}">Morris Frank</a>
        </h1>
        <a href="{{ROOT}}">blog</a>
        <a href="{{ROOT}}resume.pdf">resume</a>
    </nav>

    <main class="center">
        {{CONTENT}}
    </main>

    <footer>
        <div class="center box flex">
            <div>
                <h2>Responsible person here</h2>
                <p><a href="mailto:maurice.frank@posteo.de">Maurice Frank</a></p>
                <p><a href="https://github.com/morris-frank/morris-frank.dev">source code (MIT)</a></p>
            </div>
            <div>
                <h2>Privacy statement</h2>
                <p>I don't collect any data from you. Neither do I want any data. So don't send me any!</p>
            </div>
        </div>
    </footer>
</body>
</html>
