@font-face
  font-family: 'Fira Sans Condensed'
  font-style: normal
  font-weight: 400
  src: local('Fira Sans Condensed'), local('FiraSansCondensed-Regular'), url('FiraSansCondensed-Regular.otf')
@font-face
  font-family: 'Fira Sans Condensed'
  font-style: italic
  font-weight: 400
  src: local('Fira Sans Condensed Italic'), local('FiraSansCondensed-Italic'), url('FiraSansCondensed-Italic.otf')
@font-face
  font-family: 'Fira Sans Condensed'
  font-style: normal
  font-weight: 700
  src: local('Fira Sans Condensed SemiBold'), local('FiraSansCondensed-SemiBold'), url('FiraSansCondensed-SemiBold.otf')
@font-face
  font-family: 'Fira Code'
  font-style: normal
  font-weight: 400
  src: local('Fira Code Regular'), local('FiraCode-Regular'), url('FiraCode-Regular.otf')

$font: 'Fira Sans Condensed', sans-serif
$font-code: 'Fira Code'

body
  font-family: $font
  font-size: 17px
  line-height: 1.7
  text-ren­der­ing: op­ti­mize­Leg­i­bil­ity

footer
  font-size: 0.9rem
  text-align: center

figure
  color: rgba(0,0,0,0.6)
  font-size: 13px

p
  margin-top: 1rem
  margin-bottom: 1rem
  hyphens: auto
  letter-spacing: 0.05em

blockquote
  font-size: 0.95rem
  line-height: 1.25
  border-left: 4px solid $primary
  margin: 0
  padding: 0.4em 2em
  position: relative

blockquote:before
  display: block
  content: '“'
  position: absolute
  color: rgba($primary, 0.4)
  top: 2.1rem
  left: -0.2rem
  font-size: 5rem
  line-height: 0

a
  text-decoration-line: underline
  text-decoration-thickness: 0.3em
  text-decoration-skip-ink: none
  text-underline-offset: -0.15em
  &.no-decorate
    text-decoration: none
  &:hover
    text-decoration-thickness: 0.4em
    text-underline-offset: -0.3em

h1
  font-size: 1.5rem
  font-weight: bold

h2
  font-size: 40px
  font-weight: bold
  margin: 2rem 0 0

footer h2
  font-size: 0.9rem

h3
  font-size: 1.2rem
  font-weight: bold
  margin: 2rem 0 0.4rem 0

h4
  font-size: 1.2rem
  margin: 1em 0 0.2em

code
  font-family: $font-code
  font-size: 0.8rem

kbd
  font-family: $font-code

cite
  font-size: 0.9rem
  line-height: 1.7em
  font-style: normal
  .title
    font-style: italic

.references
  font-size: 0.9rem
  padding-left: 1em

.listing
  .title
    font-size: 1.2rem

var
  font-family: $font-code
  font-size: 0.9rem
  font-style: normal
  white-space: nowrap
