@font-face
  font-family: 'Fira Sans Condensed'
  font-style: normal
  font-weight: 400
  src: local('Fira Sans Condensed'), local('FiraSansCondensed-Regular'), url('FiraSansCondensed-Regular.otf')
  font-display: swap
@font-face
  font-family: 'Vollkorn'
  font-style: italic
  font-weight: 400
  src: url('Vollkorn-Italic.otf')
  font-display: swap
@font-face
  font-family: 'Fira Sans Condensed'
  font-style: normal
  font-weight: 700
  src: local('Fira Sans Condensed SemiBold'), local('FiraSansCondensed-SemiBold'), url('FiraSansCondensed-SemiBold.otf')
  font-display: swap
@font-face
  font-family: 'Fira Code'
  font-style: normal
  font-weight: 400
  src: local('Fira Code Regular'), local('FiraCode-Regular'), url('FiraCode-Regular.otf')
  font-display: swap

$font: 'Fira Sans Condensed', sans-serif
$font-code: 'Fira Code'
$font-italic: 'Vollkorn'

body
  font-family: $font
  font-size: 17px
  line-height: 1.7
  font-variant-ligatures: common-ligatures
  text-ren­der­ing: op­ti­mize­leg­i­bil­ity

.font-code
  font-family: $font-code

p
  hyphens: auto
  letter-spacing: 0.05em

i, em
  font-family: 'Vollkorn'
  font-style: italic

a
  text-decoration-line: underline
  text-decoration-thickness: 0.3em
  text-decoration-skip-ink: none
  text-underline-offset: -0.15em
  &.no-decorate
    text-decoration: none
  &:hover
    text-decoration-thickness: 0.4em
    text-underline-offset: -0.3em

h1
  font-size: 1.5rem
  font-weight: bold

h2
  font-size: 40px
  font-weight: bold
  line-height: 1.4

footer h2
    font-size: 0.9rem

h3
  font-size: 1.2rem
  font-weight: bold

h4
  font-size: 1.2rem

footer
  font-size: 0.9rem

figure
  font-size: 13px

blockquote
  font-size: 0.95rem
  line-height: 1.25
  &:before
    font-size: 5rem
    line-height: 0

pre, code
  font-family: $font-code
  font-size: 0.95rem

kbd
  font-family: $font-code
  font-size: 0.9rem
  letter-spacing: 0.05em

cite
  font-size: 0.9rem
  line-height: 1.7em
  font-style: normal
  .title
    font-style: normal

.references
  font-size: 0.9rem

.listing
  .title
    font-size: 1.2rem

var
  font-family: $font-code
  font-size: 0.9rem
  font-style: normal
  white-space: nowrap

samp
  font-family: $font-code
  font-size: 0.9rem
  font-style: normal

.tags span, .tag
  white-space: nowrap

.tags:before
  font-style: italic
