@font-face {
  font-family: "Inter";
  src: url("/Inter-VariableFont_slnt,wght.ttf");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

:root {
  --linewidth: 55rem;
  --max-width: 1920px;
  --black: hsl(0, 0%, 20%);
  --white: hsl(0, 0%, 97%);
  --primary: hsl(100, 27%, 50%);
  --layout-gap: 1rem;
  --content-gap: 2rem;
  --container-border: 1rem solid var(--white);

  --grey-dark: hsl(0, 0%, 29%);
  --grey: hsl(0, 0%, 48%);
  --grey-light: hsl(0, 0%, 71%);
}

@media screen and (max-width: 55rem) {
  :root {
    --layout-gap: 0;
    --content-gap: 5px;
    --container-border: none;
  }
}

* {
  box-sizing: border-box;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: var(--primary);
  color: var(--black);
  display: flex;
  flex-direction: column;
  font-family: "Inter", monospace;
  font-size: 1rem;
  hyphens: auto;
  line-height: 1.5;
  margin: 0 auto;
  min-height: 100vh;
  width: var(--linewidth);
  background: var(--white);
  padding: var(--layout-gap);
  box-shadow: 0 0 13rem 0 var(--black);
  gap: var(--layout-gap);
}

header a:first-of-type {
  display: block;
  font-size: 2em;
  border: none;
  padding: 0;
  margin: 0;
}

nav {
  margin-top: 1rem;
}

header a,
nav a {
  display: inline-block;
  border: 1px solid var(--black);
  padding: 0.3rem 0.8rem;
  text-decoration: none;
  margin: 0 1rem 0.5rem 0;
}

footer {
  font-size: 0.8rem;
}

a {
  color: var(--black);
  text-decoration: underline;
}

a:hover {
  color: var(--primary);
  border-color: var(--primary);
}

p:first-of-type {
  margin-top: 0;
}

dl {
  margin: 0;
}

h1 {
  font-size: 3rem;
  font-weight: 200;
  line-height: 1;
  margin: 0 0 1rem 0;
}

h1:empty {
  display: none;
}

h2 {
  font-size: 2rem;
  font-weight: 200;
  margin: 0;
}

h3,
h4 {
  margin-top: 0;
}

pre {
  background: var(--white);
  padding: 1rem;
  width: fit-content;
}

article {
  border: 0 solid var(--grey-light);
  border-bottom-width: 1px;
  margin-bottom: 9rem;
  padding: 1rem 0 0.5rem;
}

article + article {
  margin-top: 1em;
}

img {
  width: 100%;
}

picture {
  display: block;
  margin-bottom: 3rem;
  background: var(--white);
}

picture img {
  max-width: 100%;
  vertical-align: middle;
}

picture figcaption {
  background-color: var(--white);
  text-align: right;
}

audio {
  height: 2.5rem;
  left: -16px;
  position: relative;
  width: min(1400px, max(90vw, 100%));
}

audio::-webkit-media-controls-panel {
  background-color: var(--white);
  border-radius: 0;
  font-size: 0.2rem;
}

video {
  border: var(--container-border);
  border-left-width: 0;
  height: auto;
  max-width: min(var(--max-width), max(90vw, 100%));
}

.motion_still_container {
  background: var(--white);
  border: var(--container-border);
  border-left-width: 0;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
  width: max(80vw, 100%);
  align-items: center;
  justify-items: center;
}

.motion_still_container h3 {
  font-size: 4em;
}

.motion_still_container video {
  border: none;
  max-width: 100%;
}

.map {
  display: flex;
  height: 97vh;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
