@font-face {
  font-family: "Inter";
  src: url("/Inter-VariableFont_slnt,wght.ttf");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

:root {
  --linewidth: 50rem;
  --max-width: 1920px;
  --black: hsl(0, 0%, 20%);
  --white: hsl(0, 0%, 97%);
  --primary: hsl(100, 27%, 50%);
  --container-border: 1rem solid var(--white);

  --grey-dark: hsl(0, 0%, 29%);
  --grey: hsl(0, 0%, 48%);
  --grey-light: hsl(0, 0%, 71%);

  --gap-xs: 0.5rem;
  --gap-sm: 1rem;
  --gap-md: 2rem;
  --gap-lg: 4rem;
}

@media screen and (max-width: 55rem) {
  :root {
    --container-border: none;
  }
}

* {
  box-sizing: border-box;
}

html {
  background: var(--primary);
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
  color: var(--black);
  display: flex;
  flex-direction: column;
  font-family: "Inter", monospace;
  font-size: 1rem;
  hyphens: auto;
  line-height: 1.5;
  margin: 0 auto;
  min-height: 100vh;
  max-width: var(--linewidth);
  background: var(--white);
  box-shadow: 0 0 13rem 0 var(--black);
  padding: var(--gap-md) var(--gap-md) var(--gap-xs) var(--gap-md);
  gap: var(--gap-md);
  overflow-y: scroll;
}

header h1 {
  text-align: center;
}

nav {
  display: flex;
  flex-direction: row;
  gap: var(--gap-xs);
  justify-content: center;
  margin-bottom: var(--gap-md);

  & a {
    border: 1px solid var(--black);
    padding: 0.1rem 0.5rem;
    text-decoration: none;
  }

  & a.active {
    border-color: var(--primary);
    color: var(--white);
    background: var(--primary);
  }
}

footer {
  color: var(--grey-dark);
  font-size: 0.7rem;
  display: flex;
  flex-direction: row;
  gap: var(--gap-xs);
}

a {
  color: var(--black);
  text-decoration: underline;
}

a:hover {
  color: var(--primary);
  border-color: var(--primary);
  cursor: pointer;
}

li:has(svg),
a:has(svg),
p:has(svg),
h2:has(svg) {
  display: flex;
  align-items: center;
  gap: var(--gap-xs);
  line-height: 1;
}

p {
  margin-top: 0.2em;
}

p:has(svg) {
  gap: var(--gap-md);
}

p svg:first-child {
  height: 2.5rem;
  width: 7.5rem;
}

h1 {
  font-size: 3rem;
  font-weight: 200;
  line-height: 1;
  margin: 0 0 1rem 0;

  & a {
    text-decoration: none;
  }
}

h1:empty {
  display: none;
}

h2 {
  font-size: 2rem;
  font-weight: 200;
  margin: var(--gap-lg) 0 var(--gap-sm) 0;
  justify-content: space-between;
}

h3,
h4 {
  margin-top: 2em;
}

pre {
  padding: 1rem;
  width: fit-content;
  font-size: 0.8rem;
  color: var(--grey);
  font-size: 0.8rem;
  white-space: pre-wrap;
  word-wrap: break-word;
}

img {
  width: 100%;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-variant: small-caps;
}

textarea {
  width: 100%;
  padding: 0.8rem;
  font-size: 0.8rem;
  color: var(--black);
  border: 1px solid var(--grey-light);
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  background: var(--primary);
  color: var(--white);
  cursor: pointer;
}

canvas {
  display: block;
  margin: 1em auto;
}

.motion_still_container {
  background: var(--white);
  border: var(--container-border);
  border-left-width: 0;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
  width: max(80vw, 100%);
  align-items: center;
  justify-items: center;

  & h3 {
    font-size: 4em;
  }

  & video {
    border: none;
    max-width: 100%;
  }
}

.map {
  display: flex;
  height: 97vh;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.boxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: var(--gap-xs);
  align-items: start;
}

.box {
  font-size: 0.9rem;
  border-radius: 5px;
  border: 1px solid var(--grey-light);
  padding: var(--gap-sm) var(--gap-sm);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--gap-sm);

  & h3 {
    margin: 0;
    font-size: 1.2rem;
  }

  & pre {
    margin: 0;
    padding: 0;
  }

  & .aspace {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
}

/* ------ stupid fixes */
#automa-palette {
  display: none;
}
